<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZ6i3WSYe_GPhEqU9SpM35BCSqeYRskz4</string>
	<key>GCM_SENDER_ID</key>
	<string>361826657895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.builderking.hubereatsconsumer</string>
	<key>PROJECT_ID</key>
	<string>gal-go-c07a8</string>
	<key>STORAGE_BUCKET</key>
	<string>gal-go-c07a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361826657895:ios:0e86585c06822a1a8a16c2</string>
</dict>
</plist>